@model ElementsListViewModel

@foreach (var p in Model.Elements)
{
    @Html.Partial("ElementSummary", p)
}

<div page-model="@Model.PagingInfo" page-action="Elements" page-classes-enabled="true"
    page-class="btn" page-class-normal="btn-secondary"
    page-class-selected="btn-primary" class="btn-group m-1">
</div>